* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
}
nav {
  border: 1px solid black;
  width: 100%;
  height: 5vh;
  background-color: #173157;
}

.banner {
  border: 1px solid black;
  width: 100%;
  height: 25vh;
  background-color: #173157;
}

.livello {
  border: 1px solid black;
  width: 100%;
}

.uno {
  border: 1px solid black;
  height: 10vh;
  background-color: #d3d3d3;
}

.due {
  border: 1px solid black;
  height: 25vh;
}

.tre {
  border: 1px solid black;
  height: 25vh;
}

footer {
  border: 1px solid black;
  height: 10vh;
  background-color: #d3d3d3;
}
